<div style="clear: both;">
  <table width="100%" ng-if="found.foundItems.length">
    <tr>
      <th>Name</th>
      <th>Short Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    <tr ng-repeat="item in found.foundItems">
      <td>{{ item.name }}</td>
      <td>{{ item.short_name }}</td>
      <td>{{ item.description }}</td>
      <td><button ng-click="onRemove({index: $index})">Don't want this one!</button></td>
    </tr>
  </table>
  <p ng-if="found.foundItems.length === 0">Nothing found</p>
</div>
